In [8]:
import pandas as pd
df = pd.read_csv("winequality-red.csv")
df.head(10)

  fixed acidity;"volatile acidity";"citric acid";"residual sugar";"chlorides";"free sulfur dioxide";"total sulfur dioxide";"density";"pH";"sulphates";"alcohol";"quality"
0   7.4;0.7;0;1.9;0.076;11;34;0.9978;3.51;0.56;9.4;5
1   7.8;0.88;0;2.6;0.098;25;67;0.9968;3.2;0.68;9.8;5
2  7.8;0.76;0.04;2.3;0.092;15;54;0.997;3.26;0.65;...
3  11.2;0.28;0.56;1.9;0.075;17;60;0.998;3.16;0.58...
4   7.4;0.7;0;1.9;0.076;11;34;0.9978;3.51;0.56;9.4;5
5  7.4;0.66;0;1.8;0.075;13;40;0.9978;3.51;0.56;9.4;5
6  7.9;0.6;0.06;1.6;0.069;15;59;0.9964;3.3;0.46;9...
7   7.3;0.65;0;1.2;0.065;15;21;0.9946;3.39;0.47;10;7
8  7.8;0.58;0.02;2;0.073;9;18;0.9968;3.36;0.57;9.5;7
9  7.5;0.5;0.36;6.1;0.071;17;102;0.9978;3.35;0.8;...

In [ ]:
quality_mapping ={
    4:0,
    5:1,
    6:2,
    3:3,
    7:4,
    8:5
}

df.loc[:,"quality"] = df.quality.map(quality_mapping)

df = df.sample(frac=1).reset_index(drop=True)

df_train = df.head(1000)
df_test = df.tail(599)